# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.kicad_prl
*-backups


# Mac
*.DS_Store


# Altera MAX II/V
cpld/db
cpld/incremental_db
cpld/greybox_tmp
